# Git
.git 
.gitignore

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Python cache
**/__pycache__/

# Django stuff
*.log

# Virtual environment
.env
.venv/
venv/
env/
.env/

# VS Code
.vscode/
