services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    # ports:
    #   - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - internal_net

  web:
    build: .
    container_name: order-service
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      SECRET_KEY: ${SECRET_KEY}
      DEBUG: ${DEBUG}
      ALLOWED_HOSTS: ${ALLOWED_HOSTS}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: db
      POSTGRES_PORT: ${POSTGRES_PORT}
    volumes:
      - ./:/app:rw
      - media:/app/order_service/media
      - staticfiles:/app/staticfiles
    ports:
      - "${WEB_PORT:-8003}:8000"
    networks:
      - internal_net
      - shared_network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.order-admin.rule=Host(`order-admin.localhost`)"
      - "traefik.http.routers.order-admin.entrypoints=web"
      - "traefik.http.routers.order-admin.service=order-web-service"
      - "traefik.http.services.order-web-service.loadbalancer.server.port=8000"

volumes:
  pgdata:
  media:
  staticfiles:

networks:
  internal_net:
  # internal: true
    driver: bridge
  shared_network:
    external: true
    name: shared_network