services:
  # PostgreSQL Database
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    # ports:
    #   - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - internal_net

  # Wishlist Service (FastAPI)
  web:
    build: .
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    container_name: wishlist-service
    environment:
      DATABASE_URL: ${DATABASE_URL} 
      SECRET_KEY: ${SECRET_KEY}
      DEBUG: ${DEBUG}
      WEB_PORT: 8000
      ALLOWED_HOSTS: ${ALLOWED_HOSTS}
      RABBITMQ_HOST: ${RABBITMQ_HOST:-rabbitmq}
      RABBITMQ_PORT: ${RABBITMQ_PORT:-5672}
      RABBITMQ_USER: ${RABBITMQ_USER:-admin}
      RABBITMQ_PASS: ${RABBITMQ_PASS:-admin12345}
    volumes:
      - ./:/app:rw
    # ports:
    #   - "8003:8000"
    networks:
      - internal_net
      - shared_network

  # Wishlist Consumer Service
  consumer:
    build: .
    container_name: wishlist_consumer
    depends_on:
      db:
        condition: service_healthy
      web:
        condition: service_started
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
      SECRET_KEY: ${SECRET_KEY}
      DEBUG: ${DEBUG}
      RABBITMQ_HOST: ${RABBITMQ_HOST:-rabbitmq}
      RABBITMQ_PORT: ${RABBITMQ_PORT:-5672}
      RABBITMQ_USER: ${RABBITMQ_USER:-admin}
      RABBITMQ_PASS: ${RABBITMQ_PASS:-admin12345}
      PYTHONUNBUFFERED: 1
    volumes:
      - ./:/app:rw
    command: python -u consumer.py
    restart: unless-stopped
    networks:
      - internal_net
      - shared_network

networks:
  internal_net:
    driver: bridge
  shared_network:
    external: true
    name: shared_network

volumes:
  pgdata:
