version: "3.9"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.1
    container_name: elasticsearch
    environment:
      - node.name=es-node
      - discovery.type=single-node
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD} 
      - xpack.security.enabled=true
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    networks:
      - shared_network
    restart: always
    labels:
      - "traefik.enable=false" 

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.1
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=${{ELASTIC_HOST}  
      - ELASTICSEARCH_USERNAME=${ELASTIC_USERNAME} 
      - ELASTICSEARCH_PASSWORD=${ELASTIC_PASSWORD}  
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - shared_network
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.kibana.rule=Host(`kibana-admin.localhost`)"
      - "traefik.http.routers.kibana.entrypoints=web"
      - "traefik.http.services.kibana.loadbalancer.server.port=5601"

volumes:
  esdata:
    driver: local

networks:
  shared_network:
    external: true
